
@import url(http://weloveiconfonts.com/api/?family=brandico|entypo|openwebicons|zocial|fontawesome);

/* brandico */
[class*="brandico-"]:before {
  font-family: 'brandico', sans-serif;
}

/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

/* openwebicons */
[class*="openwebicons-"]:before {
  font-family: 'OpenWeb Icons', sans-serif;
}

/* zocial */
[class*="zocial-"]:before {
  font-family: 'zocial', sans-serif;
}
[class*="fontawesome-"]:before {
  font-family: 'fontawesome', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
li{
    list-style-type: none;
    }
body{
    font-family: 'Source Sans Pro', sans-serif;
    width: 100%;
    max-width: 1950px;
    margin: 0 auto;
}
.wrapper{
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}
header{
    text-align: center;
}
header h1{
    color: #454444;
  font-size: 72px;
}
header i{
    font-style: normal;
    font-size: 20px;
    font-weight: bold;
}


.about{
    margin: 0 auto;
    width: 700px;
}

.about span{
    
    font-size: 60px;
    color: #454444;
    padding: 10px;
}
.about i,.about a{
    font-style: normal;
    display: inline-block;
    -webkit-transform: translateY(-15px);
    -o-transform: translateY(-15px);
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
    font-size: 18px;
    color: #454444;
    padding: 10px;
    
}
.about a:hover{
    color: #27f5fd;
    }
.skills {
    padding: 50px;
}
.skills  li{
    color: #2a2a2a;
    padding: 20px 35px;
    display: inline;
    font-size: 100px;
    background: #e0e0e0;
    border-radius: 100px;
    margin-top: 20px;
}
.skills  li:hover{
    background: #f0f1f4;
}
.zocial-drupal:hover{
    color: #2670d6;
}
.openwebicons-html5:hover{
    color: #dd4301;
}
.openwebicons-css3:hover{
    color: #051d6c;
}
.entypo-code:hover{
    color: #f40529;
}
.skills h2, .about h2{
    color: #2a2a2a;
    display: block;
    font-size: 50px;
    margin: 20px;
    text-align: center;
}