@import "sprite/*.png";
@include all-sprite-sprites(1);
$white: #fff;
$white-grey: #dfe0e0;
$black: #000;
$title: #2c3e50;
$grey: #666966;

@mixin box-shadow($top, $left, $blur, $color) {
  -webkit-box-shadow:$top $left $blur $color;
  -moz-box-shadow:$top $left $blur $color;
  box-shadow:$top $left $blur $color;
}

@mixin placeholder {
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder           {@content}
  &::-moz-placeholder          {@content}
  &:-ms-input-placeholder      {@content}  
}

body {
	width: 100%;
	height: auto;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	color: $title;
	font-weight: 400;
}

*{	
	font-style: normal;
	text-decoration: none;
	list-style: none;
	padding: 0;
	margin: 0;
}
input:focus{
	outline: none;
}
span{
	font-weight: 300;
}
strong{
	font-weight: 800;
}
b{
	font-weight: 600;
}
p{
	line-height: 25px;
	
	@media screen and (min-width: 1680px) {
		line-height: 35px;
	}
}
.ico{
	display: block;
	&.one {
		@include sprite-sprite(one,1);
	}
	&.watch {
		@include sprite-sprite(watch,1);
	}
	&.arrow {
		@include sprite-sprite(icon-block8,1);
	}
}
.btn{
	@extend b;
	color: $white;
	font-size: 16px;
	cursor: pointer;
	
	@media screen and (min-width: 1680px) {
		font-size: 22px;
	}
	
	&.empty{
		display: block;
		width: 240px;
		padding: 11px 0 13px;
		border: solid 2px #686073;
		border-radius: 30px;
		margin: 10px auto;
		background-color: rgba(24, 27, 46, 0.3);
		
		@media screen and (min-width: 1680px) {
			width: 320px;
			margin: 30px auto;
		}
	}
	&.send{
		padding: 11px 50px;
		display: inline-block;
		width: 185px;
		border-radius: 5px;
		background-color: #1de1ac;
		border: none;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
		transform:translateX(-10px);
		padding: 12px 20px 13px;
		
		@media screen and (min-width: 1680px) {
			padding: 15px 40px 16px;
			width: 210px;
		}
	}
	&.footer{
		display: inline-block;
		width: 320px;
		background: #1abc9c;
		padding: 12px 40px 13px;
		border-radius: 5px;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
		transform:translateX(-10px);
		
		@media screen and (max-width: 974px) {
			border-radius: 5px;
			margin-top: 20px;
		}
		
		@media screen and (min-width: 1680px) {
			padding: 14px 20px 16px;
			width: 380px;
		}
	}
}
.bg{
	width: 100%;
}
.wrap{
	width: 70%;
	margin: 0 auto;
}
.img-top{
	background: url(../img/bg-top.jpg)  no-repeat;
	background-size: 100% 100%;
	background-position:center;
	text-align: center;
	padding-bottom: 15px;
	
		strong{
			color: $white;
			font-size: 43px;
			display: block;
			padding: 180px 0 40px;
			
			@media screen and (min-width: 1440px) {
				font-size: 46px;
			}
			
			@media screen and (min-width: 1560px) {
				font-size: 51px;
			}
			@media screen and (min-width: 1680px) {
				font-size: 55px;
				padding: 200px 0 60px;
			}
			@media screen and (min-width: 1920px) {
				font-size: 62px;
				padding: 210px 0 60px;
			}
		}
		span{
			font-weight: 400;
			font-size: 21px;
			color: #e0e1e1;
			padding-bottom: 10px;
			display: block;
			
			@media screen and (min-width: 1440px) {
				font-size: 28px;
			}
			
			@media screen and (min-width: 1560px) {
				font-size: 30px;
				padding-bottom: 175px;
			}
			
			@media screen and (min-width: 1680px) {
				font-size: 32px;
  				padding-bottom: 250px;
			}
		}
		p{
			color: $white-grey;
			font-size: 16px;
			padding: 25px 0 10px;
			
			@media screen and (min-width: 1560px) {
				font-size: 20px;
			}
			
			@media screen and (min-width: 1680px) {
				font-size: 22px;
			}
		}
	a.btn-arrow {
		display: block;
		margin: 0 auto;	
		width: 58px;
		height: 58px;
		background-color: $white;
		border-radius: 50%;
		position: relative;
		
		i{
			position: absolute;
			top: 24px;
			left: 19px;
		}
	}	
}
.middle-section{
	padding: 90px 0 150px;
	text-align: center;
	span{
		display: block;
		font-size: 35px;
		
		@media screen and (min-width: 1680px) {
			font-size: 40px;
		}
		
		b{
			display: block;
		}
	}
	.ico.one{
		margin: 60px auto;
	}
	
	&.gr{
		background-color: #f2f2f1;
		
		span{
			margin-top: 60px;
		}
		
		p{
			width: 49%;
			text-align: left;
			display: inline-block;
			margin: 50px 0 70px;
			color: #7f8c8d;
			
			@media screen and (min-width: 1680px) {
				font-size: 22px;
			}
			
			@media screen and (min-width: 1920px) {
				font-size: 25px;
			}
			
			&.left{
				float: left;
			}
			&.right{
				float: right;
			}
			&.center{
				clear: both;
				width: 66%;
				display:  block;
				margin: 40px auto 0;
				
				.ico.watch{
					display: inline-block;
					float: left;
					margin-right: 40px;
				}
			}
		}
	}
}

.img-middle{
	@extend .bg;
	background: url(../img/bg-middle.jpg) no-repeat;
	background-size: 100% 100%;
	background-position: center;
	color: $white;
	padding: 83px 0 140px;
	
	@media screen and (min-width: 1920px) {
		padding: 120px 0 180px;
	}
	
	strong{
		font-size: 48px;
		display: block;
		margin-bottom: 50px;
		
		@media screen and (min-width: 1440px) {
			font-size: 50px;
		}
		
		@media screen and (min-width: 1680px) {
			font-size: 63px;
			margin-bottom: 70px;
		}
		
		@media screen and (min-width: 1920px) {
			font-size: 70px;
		}
	}
	p{
		width: 55%;
		
		@media screen and (min-width: 1440px) {
			font-size: 22px;
		}
		
		@media screen and (min-width: 1680px) {
			font-size: 25px;
		}
		
		@media screen and (min-width: 1920px) {
			font-size: 30px;
		}
	}
}
.video-section{
	text-align: center;
	font-size: 40px;
	padding: 10% 0;
	span{
		i{
			display: block;
			color: #7f8c8d;
			font-size: 22px;
			margin: 30px 0;
			
			@media screen and (min-width: 1680px) {
				font-size: 30px;
			}
		}
	}
}
.wrap.dark-grey{
	background: $title;
	color: $white;
	text-align: center;
	strong{
		display: block;
		padding: 14% 12%;
		font-weight: 700;
		font-size: 36px;
		
		@media screen and (min-width: 1680px) {
			font-size: 45px;
		}
	}
	b{
		line-height: 28px;
		font-size: 20px;
		color: #95a5a6;
		display: block;
		padding: 0 15% 11%;
		
		@media screen and (min-width: 1680px) {
			font-size: 25px;
			line-height: 37px;
		}
	}
}
.mail-title{
	text-align: center;
	padding: 5% 0;
	
	@media screen and (min-width: 1680px) {
		padding: 6% 0;
	}
	
	span{
		font-size: 22px;
		color: #7f8c8d;
		
		@media screen and (min-width: 1680px) {
			font-size: 30px;
		}
	}
}

.mail-section{
	padding: 4% 0; 
	background: #1abc9c;
	text-align: center;
	
	.wrap{
		width: 60%;
	}
	
	input[name="lead_email"]{
		font-size: 17px;
		padding: 9px 10px 10px;
		border-radius: 5px;
		border: solid 2px #bdc3c7;
		width: 40%;
		min-width: 150px;
		color: #979da4;

		@include placeholder {
			font-family: 'Open Sans', sans-serif;
			color: #979da4;
		}
		&:focus{
			outline: none;
		}
		
		@media screen and (min-width: 1680px) {
			font-size: 21px;
			padding: 16px 16px 17px;
			width: 35%;
		}
	}
}
.bottom-section{
	@extend span;
	i{
		background: url(../img/bg-bottom.jpg) no-repeat;
		display: inline-block;
		float: left;
		width: 30%;
		height: 960px;
		@media screen and (max-width: 835px){
			display: none;
		}
	}
	
	span{
		width: 40%;
		font-size: 30px;
		display: inline-block;
		padding: 11.48% 10% 0;

		@media screen and (max-width: 835px){
			width: 70%;
			padding: 10% 15%;
		}
		
		@media screen and (min-width: 1680px) {
			font-size: 38px;
			padding: 5% 7% 0;
		}		
	}
	p{
		color: #7f8c8d;
		font-size: 22px;
		line-height: 30px;
		margin-bottom: 20px;
		
		@media screen and (max-width: 1035px){
			font-size: 18px;
		}
		
		&:first-child{
			margin-top: 20px;
		}
		
		@media screen and (min-width: 1680px) {
			font-size: 27px;
			line-height: 36px;
			margin-bottom: 30px;
		}
	}
}

footer{
	clear: both;
	background: #f2f2f1;
	text-align: center;
	padding: 10% 0;
	.wrap{
		width: 60%;
	}	
	span{
		font-size: 35px;
		margin-bottom: 9%;
		display: block;
		
		@media screen and (min-width: 1680px) {
			font-size: 43px;
		}
	}
	input[name="lead_email"]{
		font-size: 17px;
		padding: 9px 10px 10px;
		border-radius: 5px;
		border: solid 2px #bdc3c7;
		width: 40%;
		min-width: 150px;
		color: #979da4;

		@include placeholder {
			font-family: 'Open Sans', sans-serif;
			color: #979da4;
		}
		
		@media screen and (min-width: 1680px) {
			font-size: 21px;
			padding: 16px 16px 17px;
			width: 35%;
		}
	}
	input[type="submit"]{
		border: none;
	}
}