@import "bootstrap-sprockets";
@import "bootstrap";
@import "sprite/*.png";
@include all-sprite-sprites(1);
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}

//variables
$black: #000;
$white: #fff;
$blue: #0f4ca3;
$violet: #610dd6;
$dark-violet: #2e0764;
$gray: #f7f7f7;

body {
    font-family: 'Lato',sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
//Mixins
@mixin transition($duration) {
    -webkit-transition: $duration;
    -moz-transition: $duration;
    -ms-transition: $duration;
    -o-transition: $duration;
    transition: $duration;
}

@mixin transform($value) {
    -webkit-transform: $value;
    -moz-transform: $value;
    -ms-transform: $value;
    -o-transform: $value;
    transform: $value;
}

//bootsrap fix
.navbar {
    background: $violet;
    border-radius: 0;
    margin-bottom: 0;
    padding-bottom: 20px;
    
    .navbar-nav > li > a {
        font-size: 1.4rem;
        text-transform: uppercase;
        color: $white;
        padding: 40px 1px 6px;
        margin-right: 20px;
        
        @media (max-width: 768px) {
            padding: 10px;
            @include transition(0.3s);
            margin-right: 0;
        }
        
        &:after {
            content: "";
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0.1%;
            margin: 0 auto;
            left: 0;
            right: 0;
            height: 2px;
            background: rgba(0,0,0,0.5);
            @include transition(all .3s ease-in-out);
            
            @media (max-width: 768px) {
                display: none;
            }
        }
        
        &:hover:after {  
            padding: 0 50%;
        }
    }
    
    .nav-pills > li.active > a:after{  
        padding: 0 50%;
        background: $white;
    }
    
    .nav-pills > li.active > a,
    .nav-pills > li.active > a:hover,
    .nav-pills > li.active > a:focus,
    .nav > li > a:hover,
    .nav > li > a:focus {
        background-color: $violet;
        border-radius: 0;
        
        @media (max-width: 768px) {
            background: rgba(0,0,0,0.7);
        }
    }
    
    .navbar-nav > li:last-child a {
            margin-right: 0;
            margin-top: 25px;
            padding: 15px;
            background: rgba(0,0,0,0.3);
            border-radius: 0;
            @include transition(0.7s);
        
            @media (max-width: 768px) {
                margin-top: 0;
                background: $violet;
                padding: 10px;
            }
        
        &:after {
            display: none;
        }
    }
    
    .navbar-nav > li:last-child a:hover,
    .navbar-nav > li:last-child a:focus,
    .navbar-nav > li.active:last-child a,
    .navbar-nav > li.active:last-child a:hover,
    .navbar-nav > li.active:last-child a:focus{
            border: none;
            background: rgba(0,0,0,0.7);
        }
    
    .navbar-brand {
        color: $white;
        font-size: 1.6rem;
        width: 240px;
        margin-top: 5px;
        
        b {
            font-weight: 600;
            display: inline-block;
            font-size: 1.7rem;
            text-transform: uppercase;
            letter-spacing: 1px;
            
            @-webkit-keyframes thumb {
                0% { -webkit-transform: scale(1); }
                50% { -webkit-transform: scale(0.9); }
                100% { -webkit-transform: scale(1); }
            }
            &:hover {
                -webkit-animation-name: thumb;
                -webkit-animation-duration: 200ms;
                -webkit-transform-origin:50% 50%;
                -webkit-animation-iteration-count: 2;
                -webkit-animation-timing-function: linear;
            }
        }
        
        span {
            display: block;
        }
            
        .logo {
            @include sprite-sprite(code,1);
            display: inline-block;
            width: 36px;
            height: 36px;
            float: left;
            margin-right: 8px;
            @include transition(.9s);
            
            &:hover {
                -webkit-transform: rotate(180deg);
                transform: rotate(180deg);
            }
        }
    }
}

.navbar-collapse {
    border: none;
    box-shadow: none;
}

.navbar-toggle {
    border-radius: 0;
    @include transition(0.7s);
    margin-top: 15px;
    
    .icon-bar {
        background: #fff;
    }
    
    &:hover,
    &:focus {
        background: rgba(0,0,0,0.4);   
    }
}

@media (max-width: 768px) {
    .navbar-nav {
        margin: 20px 0 0;
    }
    
    .nav-pills > li {
        width: 100%;
    }
    
    .nav-pills > li + li {
        margin-left: 0;
    }
}
//icons
.facebook {
    @include sprite-sprite(facebook,1); 
    display: inline-block;
}

.github {
    @include sprite-sprite(github,1); 
    display: inline-block;
}

.skype {
    @include sprite-sprite(skype,1); 
    display: inline-block; 
}
//styles
.intro {
    @extend .col-md-12;
    text-align: center;
    background: $violet;
    padding: 100px 0 100px;
    color: $white;
    
    h1{
        font-size: 3em;
        margin-bottom: 20px;
    }
    
    ul {
        li {
            display: inline-block;
            font-size: 2.2rem;
            
            &:before {
                content: '\00B7';
                display: inline-block;
                margin: 0 .5em;
            }
            &:first-child:before {
                display: none;
            }
        }
    }
    
    a {
        font-size: 1.7rem;
        text-transform: uppercase;
        font-weight: 600;
        color: $white;
        letter-spacing: -0.1px;
        display: block;
        width: 200px;
        height: 50px;
        margin: 50px auto;
        @include transition(.7s);
        
        &:hover,
        &:focus{
            text-decoration: none;
            color: $dark-violet;
        }
        
        .caret {
            display: block;
            margin: 0 auto;
            font-size: 1rem;
            margin-top: 10px;
        }
    }
    
    &.small {
        padding: 50px 0;
        
        b {
            font-size: 3em;
            margin-bottom: 20px;
        }
        p {
            font-size: 1.7em;
        }
    }
}

.comment-wrap {
    width: 100px;
    height: 100px;
    background-color: $violet;
    float: left;
    margin: 28px 20px 10px 0;    
    .comment {
        @include sprite-sprite(comment,1);
        display: block;
        margin: 0 auto;
        margin-top: 15px;
    }
}

.wrapper {
    @extend .col-md-7;
    @extend .col-md-offset-3;
    @extend .col-sm-10;
    @extend .col-sm-offset-1;
    margin-top: 20px;
    margin-bottom: 60px;
}

.about {
    p {
        font-size: 1.1em;
        line-height: 1.8;
        margin-top: 25px;

        &:nth-child(3) {
            clear: both;
            display: block;
        }
    }
    
     ul {
        margin-left: 25px;  
         
        li {
            font-size: 1.2em;
            list-style-type: circle;
            margin-left: 15px;
            line-height: 1.8;

            &:first-child {
                list-style-type: disc;
                margin-left: 0;
            }

            li:first-child,
            li{
                margin-left: 5px;
                list-style-type: circle;
                font-size: 1.1em;
            }
        }
    }
    strong {
        font-size: 2.4em;
        margin-top: 30px;
        display: block;
    }
    
    .logos {
        .logo {
            display: inline-block;
            margin: 30px 20px 15px 0;
        }
    }
}

.reviews {
    .review {
        background: $gray;
        padding: 40px 100px 70px;
        margin-top: 40px;
        
        p {
            font-size: 1.25em;
            line-height: 30px;
            margin: 30px 0 20px;
        }
        .quotes {
            @include sprite-sprite(quotes,1);
            display: block;
            margin: 0 auto;
        }
        
        strong {
            font-size: 1.4em;
        }
        
        a {
            font-size: 1.3em;
            font-weight: 600;
            color: $violet;
        }
        
        div {
            float: right;
        }
    }
}

.contacts {
    padding-top: 30px;
    
    p {
        font-size: 1.3em;
    }
    
    form {
        margin-top: 40px;
    }
    
    label {
        font-size: 1.6em;
    }
    
    textarea {
        margin-bottom: 30px;
        &:focus {
            box-shadow: 0 0 4px $violet;
            border-color: $violet;
        }
    }
    
    .btn.violet {
        margin-right: 15px;
    }
}

.home {
    @extend .col-md-12;
    @extend .col-sm-12;
    padding: 0;
    margin: 1px 0;
    
    section {
        @extend .col-md-4;
        @extend .col-sm-6;
        min-height: 270px;
        position: relative;
        
        a {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: block;
            text-align: center;
            @include transition(.6s);
            
            
            img {
                display: block;
                @include transition(.4s);
                margin: 80px auto 0;
            }
            
            &:after {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                color: $white;
                background: $violet;
                line-height: 50px;
                font-size: 1.3em;
                opacity: 0;
                @include transition(.8s);    
            }
            
            &:hover:after {
              opacity: 1;
            }
            
            &:hover img{
                @include transform(scale(0.9,0.9));

            }
            
            &.sale-h {
                background: $white;

                img {
                    width: 260px;
                    
                }

                &:after {
                    content: "Fashion blog Sale-Hunters";
                }
            }
            
            &.fitness-logo {
                background: #041f33;
                
                img {
                    margin-top: 100px;
                }
                
                &:after {
                    content: "Page of health and fitness";
                }
            }
            
            &.kurt {
                background: #323131;
                
                img {
                    width: 200px;
                }
 
                &:after {
                    content: "Concert tickets Kurt Vile page";
                }
            }
            
            &.generator {
                background: #afacac;
                
                img {
                    margin-top: 110px;
                }
 
                &:after {
                    content: "Site for creating video presentations";
                }
            }
            
            &.new-site {
                background: #5c5656;
                
                img {
                      
                }
                
                &:after {
                    content: "Look at this new other site";
                }
            }
        }
    }
}

.bottom-btn {
    display: block;
    width: 100%;
    height: 60px;
    background: $violet;
    text-transform: uppercase;
    clear: both;
    color: $white;
    text-align: center;
    line-height: 60px;
    font-weight: bold;
    font-size: 1.4em;
    @include transition(0.7s);
    
    &:hover,
    &:focus {
        text-decoration: none;
        color: $white;
        background: $dark-violet; 
    }
    
    .arrow-right {
        @include sprite-sprite(arrow-right,1);
        display: inline-block;
        margin-left: 13px;
    }
}

footer {
    background: #2c2b2b;
    color: $white;
    padding: 80px 0 40px;
    clear: both;
    
    .container> div{
        @extend .col-md-4;
        @extend .col-sm-12;
        padding: 0 25px;
        
        @media screen and (max-width: 991px) {
            margin-bottom: 40px;
        }
    }
    
    p {
        font-size: 1.1em;
    }
    
    .comment-wrap {
        margin-top: 5px;
    }
    
    .c-pannel {
        p {
            margin-bottom: 20px;
        }
        i {
            float: left;
            margin-right: 10px;
            margin-top: 2px;
        }
        span {
            color: #337ab7;
        }
    }
    
    .l-pannel {
        ul {
            list-style: none;
            
            li {
                margin-bottom: 25px;
                a {
                    color: $white;
                    text-transform: uppercase;
                    font-size: 1.1em;
                    font-weight: bold;
                    @include transition(.7s);
                    
                    &:hover,
                    &:focus,
                    &:active{
                        text-decoration: none;
                        color: $violet;
                    }
                }
            }
        }
    }
}

.btn{
    font-size: 1.6em;
    border-radius: 0;
    @include transition(.7s);
    
    &.violet {
        background-color: $violet;
        border-color: $violet;
        color: $white;
        
        &:hover,
        &:focus {
            outline: none;
            background-color: $dark-violet;
        }
    }
        
    &.clear {
        background-color: $white;
        border-color: #999;
        
        &:hover,
        &:focus {
            outline: none;
            background-color: #999;
        }
    }
}