/*for all body*/
html body{
	overflow-x: hidden;
	margin: 0;
	padding: 0;
	width: 100%;
	height: auto;
	font-family: 'Tahoma';
	background: #f3f3f3;
}

i, a, li{
	font-style: normal;
	text-decoration: none;
	list-style: none;
}

ul{
	padding: 0;
	margin: 0;
}

.hide{
	display: none;
}

.ico{
	background: url(../img/sprit.png);
	background-repeat: no-repeat;
	display: inline-block;
}

/*nav-bar*/
nav{
	margin: 0;
	background: #fff;
	height: auto;
	-webkit-box-shadow:  0px 0px 8px #b4b2b2;
	box-shadow: 0px 0px 8px #b4b2b2;
}

.nav-wrapper,
.nav-block-hover,
section .products,
.main-content,
.footer-wrapper{
	width: 88%;
	height: auto;
	margin: 0 auto;
}

.ico.logo{
	background-position: 0 0;
	width: 207px;
	height: 32px;
	float: left;
	margin: 0.7% 15% 0 0;
}

.nav-block li{
	display: inline-block;
}

.nav-block li a{
	font-size: 13px;
	text-transform: uppercase;
	color: #333;
	padding: 20px 40px;
	display: inline-block;
	border-bottom: solid 2px #fff;
}

.nav-block li a.active{
	color: #ff4700;
	border-bottom-color: #ff4700;
}

.nav-block li a:hover,
.nav-block li a:focus{
	color: #fff;
	background: #8c8d8d;
	border-bottom-color: #8c8d8d;
}

.nav-block li.leng{
	float: right;
	border: solid 1px #ddd;
	border-top: none;
	border-bottom: none;
	position: relative;
	text-transform: uppercase;
	font-size: 13px;
}

.nav-block li.leng a{
	color: #999;
	padding: 20px;
}

.ico.arrow-down,
.ico.arrow-up{
	background-position: -51px -37px;
	width: 8px;
	height: 5px;
	margin: 0 0 0 8px;
}

.ico.arrow-up{
	background-position: -51px -43px;
}

.dropdown-leng{
	position: absolute;
	left: 0px;
	top: 0;
	visibility: hidden;
	z-index: 999;
}

.dropdown-leng li{
	color: #fff;
	background: #8c8d8d;
	float: none;
	width: 32px;
	padding: 5px 20px 20px; 
	text-transform: uppercase;
	font-size: 13px;
}

.dropdown-leng li:first-child{
	padding: 20px;
}

.dropdown-leng li:hover{
	background: #949595;
}

.nav-block-hover-wrap{
	width: 100%;
	background: #8c8d8d;
	position: absolute;
	z-index: 999;
}

.nav-block-hover{
	display: block; 
	color: #fff;
	font-size: 14px;
	padding: 30px 0 70px 0;
}

.nav-block-hover li{
	display: inline-block;
	width: 117px;
	height: 117px;
	position: relative;
	margin-right: 2.3%;
}

.nav-block-hover li img{
	width: 100%;
	height: auto;
}

.nav-block-hover li:hover small{
	text-indent: -99999px;
}

.nav-block-hover li:hover b{
	visibility: visible;
}

.nav-block-hover li small{
	font-size: 14px;
	position: absolute;
	bottom: -120px;
	width: 100%;
	height: 100%;
}

.nav-block-hover li b{
	visibility: hidden;
	position: absolute;
	top: 0;
	text-align: center;
	background: rgba(0, 0, 0, 0.5);
	width: 100%;
	height: 100%;
}

.nav-block-hover li b span{
	background: none;
	position: absolute;
	top: 45%;
}

.nav-block-hover li:last-child{
	margin-right: 0;
	background-color: #7c7c7c;
	top: 0;
}

.nav-block-hover li:last-child i{
	position: absolute;
	top: 30%;
	right: 30%;
}

.nav-block-hover li img,
.nav-block-hover li i,
.nav-block-hover li span{
	cursor: pointer;
	display: block;
}

.ico.price{
	background-position: 0 -36px;
	width: 44px;
	height: 48px;
	display: block;
	margin: 0 auto;
	align-content: center;
}

.nav-block-hover li span{
	width: 100%;
	height: 100%;
}

section{
	position: relative;
	width: 100%;
	height: auto;
	box-shadow:
	   0 0 0 0px silver inset,
	   0 -200px 200px -10px rgba(21, 21, 21, 0.5) inset,
	   0px 0 0 0px darkturquoise inset,
	   0 0px 0 0px gold inset,
	   0px 0 0 0px chartreuse inset;  
}

section img{
	position: absolute;
	width: 100%;
	height: 100%;
}

section .title{
	width: 60%;
	margin: 0 auto;
	text-align: center;
	color: #fff;
	padding: 115px 0;
	z-index: 2;
	position: relative;
}

section .title b{
	text-transform: uppercase;
	display: block;
	font-size: 36px;
	background: rgba(0, 0, 0, 0.8);
	margin-bottom: 5px;
	padding: 5px 0;
}

section .title small{
	font-size: 24px;
	background: rgba(0, 0, 0, 0.8);
	padding: 2px 15px 8px;
}

section .title a{
	display: block;
	font-size: 14px;
	background: #212121;
	text-transform: uppercase;
	width: 245px;
	margin: 0 auto;
	margin-top: 20px;
	padding: 12px;
	color: #fff;
	border-radius: 3px;
}

section .title a span{
	background: #ff4700;
	width: 20px;
	height: 20px;
	display: inline-block;
	border-radius: 50%;
	margin-right: 12px;
}

.ico.eur{
	background-position: -62px -38px;
	width: 8px;
	height: 9px;
}

section .products{
	position: relative;
	z-index: 2;
	color: #fff;
	font-size: 14px;
}

section .products i{
	display: block;
	margin-bottom: 18px;
}

section .products i span{
	margin-bottom: 5px;
	display: inline-block;
	width: 44%;
	border-top: solid 1px rgba(190, 190, 190, 0.5);
}

section .products i span:first-child{
	margin-right: 2.6%;
}

section .products i span:last-child{
	margin-left: 2.6%;
}

section .products ul{
	padding-bottom: 45px;
}

section .products ul li{
	font-weight: bold;
	color: #333;
	display: inline-block;
	padding: 18px 0;
	width: 16.4%;
	background: #fff;
	text-align: center;
	margin-right: -2px;
}

.main-content .top{
	font-size: 14px;
	color: #fff;
	margin: 80px 0 50px;
}

.main-content .top small,
.main-content .top b{
	width: 59%;
	text-align: center;
	display: inline-block;
}

.main-content .top small{
	font-size: 14px;
	color: #555;
	background: #fff;
	padding: 20px 0;
}

.main-content .top small span{
	display: inline-block;
	margin-left: -70px;
}

.main-content .top b{
	width: 40%;
	background: #eb4200;
	padding: 14px 0;
	position: relative;
	float: left;
}

.main-content .top b span{
	display: inline-block;
	border-radius: 50%;
	background: #fff;
	padding: 6px 8px;
	margin-right: 40px;
}

.main-content .top b:after{
	content: "";
	border: solid 30px transparent;
	border-top: solid 57px #eb4200;
	position: absolute;
	right: -31px;
	top: 0px;
}

.ico.gift{
	background-position: -74px -36px;
	width: 14px;
	height: 12px;
}

.main-content .right,
.main-content .left{
	float: right;
	width: 44%;
	margin-right: 25px;
	margin-bottom: 40px;
}

.main-content .left{
	float: left;
}

article{
	color: #999;
	font-size: 13px;
	margin-bottom: 30px;
}

article b{
	display: block;
	color: #444;
	margin-bottom: 7px;
}

article span{
	color: #ff4700;
}

footer{
	clear: both;	
	background: #939494;
	font-size: 12px;
}

footer li{
	text-transform: uppercase;
	float: left;
}

footer li a{
	color: #fff;
}

.ico.footer{
	background-position: -48px -55px;
	width: 106px;
	height: 27px;
	
}

footer li:first-child span{
	background: #fff;
	padding: 4px 10px;
	display: inline-block;
	margin-right: 10px;
}

footer li:first-child{
	width: 23%;
	position: relative;
	top: 18px;
}

footer li:first-child small{
	font-size: 11px;
	width: 90px;
	display: inline-block;
	position: absolute;
	top: -4px;
}

footer li:first-child,
footer li:last-child,
footer li:nth-child(6){	
	text-transform: none;
}

.ico.phone{
	background-position: -92px -38px;
	width: 11px;
	height: 10px;
	display: inline-block;
}

footer li:nth-child(2),
footer li:nth-child(3),
footer li:nth-child(4){
	width: 10%;
	margin-top: 25px;
}

footer li:nth-child(5),
footer li:nth-child(6){
	width: 14%;
	margin-top: 18px;
} 

footer li:nth-child(5) span,
footer li:nth-child(6) span{
	padding: 7px 8px 7px 9px;
	background: #7c7c7c;
	border-radius: 50%;
	display: inline-block;
	margin-right: 8px;
}

.ico.envelope{
	background-position: -106px -38px;
	width: 12px;
	height: 10px;
}

footer li:last-child{
	margin-bottom: 3px;
	padding: 20px 15px 17px;
	border: solid 1px #a6a6a6;
	border-top: none;
	border-bottom: none;
	float: right;
}

footer li:last-child b{
	display: inline-block;
	font-weight: normal;
	background: #3a5795;
	padding: 7px 17px;
}

footer li:last-child span{
	border-left: solid 1px #6179aa;
	padding-left: 7px;
	margin-left: 7px;
	display: inline-block;
}

.ico.facebook{
	background-position: -120px -36px;
	width: 6px;
	height: 12px;
	margin-right: 12px;
}

footer .bottom-footer{
	color: #fff;
	border-top: solid 1px #a6a6a6;
	padding: 0.7% 6%;
	clear: both;
}

.bottom-footer small{
	font-size: 11px;
}

.bottom-footer small:last-child{
	float: right;
}

.bottom-footer b{
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	font-size: 15px;
	margin-left: 12px;
	display: inline-block;
	margin-top: -5px;
}