@media(max-width: 1500px){
	section .products i span{
		width: 43%;
	}
	.nav-block li a{
		padding: 20px 30px;
	}
	
	.ico.logo{
		margin: 0.7% 10% 0 0;
	}
	
}

@media(max-width: 1322px){
	.nav-block-hover{
		padding-top: 0;
	}
	
	.nav-block-hover li{
		margin-top: 40px;
	}
}

@media(max-width: 1280px){
	.ico.logo{
		margin: 0.7% 3% 0 0;
	}
}

@media(max-width: 1166px){
	section .products i span{
		width: 42%;
	}
	
	footer li:first-child{
		width: 35%;
	}
	
	footer li:nth-child(2),
	footer li:nth-child(3),
	footer li:nth-child(4){
		width: 20%;
	}
	
	footer li:nth-child(5){
		clear: both;
		margin-top: 30px;
		width: 25%;
	}
	footer li:nth-child(6){
		margin-top: 30px;
		width: 25%;
	}
	
	footer li:last-child{
		float: left;
		border: none;
		margin-top: 10px;
	}
	.nav-block li a{
		  padding: 20px 16px;
	}
}

@media(max-width: 1042px){
	.main-content .top b:after{
		border-top: solid 74px #eb4200;
	}

	.main-content .top small{
		padding: 29px 0;
	}
	
	.nav-block li a{
		padding: 20px 13px;
	}
}

@media(max-width: 956px){
	section .products i span{
		width: 41%;
	}
	
	.nav-wrapper{
		padding-top: 5px;
	}		

	.ico.logo{
		float: none;
		display: block;
		margin: 0 auto;
	}
	
	.nav-block li.leng{
		border: none;
	}
	
	.nav-block li:first-child{
		margin-left: 15%;
	}
}
@media(max-width: 810px){
	section .products i span{
		width: 41%;
	}
	
	.nav-block li:first-child{
		margin-left: 5%;
	}
	.main-content .top{
		display: none;
	}
	
	section .products i{
		text-align: center;
	}
	
	section .products i span{
		display: none;
	}
}

@media(max-width: 723px){
	.nav-block li.leng{
		display: none;
	}
	
	footer li:first-child{
		width: 100%;
	}
	footer li:nth-child(2){
		clear: both;
		
	}
	
	footer li:nth-child(2),
	footer li:nth-child(3),
	footer li:nth-child(4){
		width: 30%;	
		margin-top: 40px;
	}

}

@media(max-width: 640px){
	.nav-block li{
		display: block;
		text-align: center;
	
	}
	.nav-block li:first-child{
		margin-left: 0;
	}
	
	section{
		display: none;
	}
	
	.nav-block-hover-wrap{
		top: 94px;
	}
	.main-content .right,
	.main-content .left{
		float: none;
		width: 100%;
		margin-bottom: 20px;
	}

	.main-content .left{
		float: none;
	}
}

@media(max-width: 560px){
	footer li:nth-child(2),
	footer li:nth-child(3),
	footer li:nth-child(4){
		display: none;
	}
	
	footer li:nth-child(5),
	footer li:nth-child(6){
		
		width: 50%;
	}
	
	footer li:last-child{
		clear: both;
		padding: 0;
	}
	
	.bx-wrapper{
		display: none;
	}
	
	.main-content{
		margin-top: 20px;
	}

}