.main-content{
    margin: 20px;
}
article{
    }
article h3{
    font-size: 24px;     
    font-weight: bold;
    margin:  10px 20px;
    color: #3e3d3d;
}
article p{
    margin: 20px;
    font-size: 13px;
    color: #646161;
    text-transform: none;
}
article i{
    margin: 20px;
    font-size: 15px;
    text-transform: none;
}
article img{
    margin-bottom: 20px;
}
article i a{
    margin-left: 7px;
    color: #898686;
}
.add{
    position: absolute;
    z-index: 999;
    background: #5692b1;
  }
i span{ 
    font-size: 16px;
    margin-left: 15px;
    font-style: normal;
}
.collapse{
    margin-top: 5px;
}
.collapse input{
    height: 29px;
}
.banner{
    position:absolute;
    top: 950px;
}